body {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin: 0;
}

header, footer {
  background-color: #1f2937;  
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 5px;
}

.logo h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.text-description h1 {
    font-size: 50px;
    font-weight: 4000;
    color:#F9FAF8;
    margin-bottom: -10px;
}

.text-description p, .header-links {
    font-size: 18px;
    color: #e5e8eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
li a {
    display: block;
    color: white;
    text-align: center;
    margin-right: 10px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    border-radius: 5px;
  }

.logo {
    margin-top: -60px;
    
}
.description-container {
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  margin-bottom: 50px;
}

.image-description img {
  width: 500px;
  height: auto;
  align-self: flex-end;
  margin-left: 100px;
  border-radius: 25px;
}

.text-description {
  max-width: 400px;
}

.text-description p {
  width: 300px;
  line-height: 20px;
  font-weight: lighter;
}

.text-description button {
    background-color: #3882f6;
    border: none;
    color: white;
    margin-top: 10px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  }

  .first_container h2 {
    text-align: center;
  }

  .img-container {
    margin-left: 40px;
    max-width: 250px;
    height: 200px;
    border-radius: 25px;
    border: 5px solid rgba(30, 74, 196, 0.897);
    
  }

  #first_img {
    margin-left: 100px;
  }


  .text-container {
    display: flex;
    gap: 0px;
  }



  .text-container p {
    text-align:;
    max-width: 200px;
    margin: 0 auto 20px;
    font-weight: 600;
  }

  #first_p {
    margin-left: 100px;
    margin-right: -50px;
  }

  #second_p {
    margin-left: 150px;
    margin-right: 220px;
  }
  

  #third_p {
    margin-left: -110px;
    margin-right: 50px;
    padding-right: 0px
  }

  #fourth_p {
    margin-left: 50px;

  }

  .first_container {
    margin-bottom: 200px;
    
  }

  .second_container {
    background-color: #e5e8eb;
    font-size: 30px;
    color: #1f2937;
    padding-top: 200px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 200px;
    font-style: italic;
    font-weight: lighter;
  }

  .second-container-author {
    padding-left: 450px;
   font-size: 20px;
   font-weight: bold;
  }

  .third_container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #e5e8eb;
    width: 1000px;
    margin: 200px;
    margin-left: 450px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 5px;
  }

  .third_container button {
    margin-right: 90px;
    padding: 5px 25px;
    background-color: #3882f6;
    border: 2px solid #e5e8eb;
    border-radius: 10px;
    color: #e5e8eb;
    font-weight: bold;
    align-self: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    height: 50px;
    color: #e5e8eb;
  }